<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inventory</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list *ngFor="let category of categories">

        <div (click)="showItems(category.id)" class="label-spacer">
            <ion-card-title>{{category.name }}</ion-card-title>
            <ion-card-subtitle>{{category.description}}</ion-card-subtitle>
        </div>

        <div *ngIf="category.visible">
            <ion-list *ngFor="let item of getItemsByCategory(category.id) | itemCategorizer: categories">
                <ion-item>
                    <ion-label>
                        <b> {{item.brand}}</b><br>{{item.model}}
                        <ion-icon (click)="onEdit(item)"
                                  [className]="'list-icon'"
                                  name="options"
                                  slot="end">
                        </ion-icon>
                        <ion-icon (click)="onDelete(item)"
                                  [className]="'list-icon'"
                                  name="trash"
                                  slot="end">
                        </ion-icon>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ion-list>

</ion-content>
