<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Start
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [routerLink]="'/item-editor'">
    <ion-card class="base-card">
        <img alt="" src="/assets/erfassen.jpg"/>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Neue Artikel Erfassen</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="'/inventory-browser'" class="base-card">
        <img alt="" src="/assets/administrieren.jpg"/>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Administrieren</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>
