<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <ion-item>
            <ion-label position="foating">Username:</ion-label>
            <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="foating">Password:</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-button [disabled]="!form.valid" slot="end" type="submit">
                Send
            </ion-button>
        </ion-item>
    </form>
</ion-content>
