<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>item-editor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-item>
            <ion-label position="foating">Brand:</ion-label>
            <ion-input formControlName="brand"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="foating">Model:</ion-label>
            <ion-input formControlName="model"></ion-input>
        </ion-item>
        <ion-item>

            <ion-label position="foating">Category:</ion-label>
            <ion-select formControlName="categoryId" position="foating">
                <ion-select-option
                        *ngFor="let category of categories"
                        [value]="category.id">
                    {{category.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button (click)="onSubmit()"
                    color="secondary"
                    expand="block">
            Submit
        </ion-button>
    </form>
</ion-content>
